In [160]:
# Dependencies
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from pprint import pprint

In [161]:
from DS6_config import DS601key

In [162]:
froms = []
tos = []
confirmed = []
deaths = []
country = []
list_of_countries = ['mexico','australia','united kingdom','turkey','Saudi Arabia','italy','japan','indonesia','france','united_states_of_america','germany','south corea','costa rica','colombia','brazil', 'spain','china','argentina','chile','south africa','india','russia']
country = 'mexico'
fromdate = '2020-02-01'
todate = '2021-02-01'
confirmed_url = f'https://api.covid19api.com/total/country/{country}/status/confirmed?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
deaths_url = f'https://api.covid19api.com/total/country/{country}/status/deaths?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
response_deaths = requests.get(deaths_url).json() 
response_confirmed = requests.get(confirmed_url).json()
country

'mexico'

In [163]:
day_cumulated_deaths=[]
day_cumulated_confirmed=[]
country_data=[]
date_data = []
for day in response_deaths:
     day_cumulated_deaths.append(day['Cases'])
for day in response_confirmed:
    day_cumulated_confirmed.append(day['Cases'])
    country_data.append(country)
    date_data.append(day['Date'][0:10])

In [164]:
dict_cases = {'date': date_data, 'country': country_data, 'confirmed': day_cumulated_confirmed, 'deaths': day_cumulated_deaths}  
    
df = pd.DataFrame(dict_cases) 
df

           date country  confirmed  deaths
0    2020-02-01  mexico          0       0
1    2020-02-02  mexico          0       0
2    2020-02-03  mexico          0       0
3    2020-02-04  mexico          0       0
4    2020-02-05  mexico          0       0
..          ...     ...        ...     ...
362  2021-01-28  mexico    1825519  155145
363  2021-01-29  mexico    1841893  156579
364  2021-01-30  mexico    1857230  158074
365  2021-01-31  mexico    1864260  158536
366  2021-02-01  mexico    1869708  159100

[367 rows x 4 columns]