In [54]:
# Dependencies
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from pprint import pprint

In [55]:
# Import keys for Covid19Api webpage
from DS6_config import DS601key

In [56]:
# Create empty lists, country and dates
froms = []
tos = []
confirmed = []
deaths = []
country = []
country = 'mexico'
fromdate = '2020-01-01'
todate = '2021-03-01'

# Assemble URL with the informtion needed.
confirmed_url = f'https://api.covid19api.com/total/country/{country}/status/confirmed?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
deaths_url = f'https://api.covid19api.com/total/country/{country}/status/deaths?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
response_deaths = requests.get(deaths_url).json() 
response_confirmed = requests.get(confirmed_url).json()

In [57]:
# Generate empty lists for deaths and covid confirmed.
day_cumulated_deaths=[]
day_cumulated_confirmed=[]
country_data=[]
date_data = []

# Fill information for every row read on the url response, for deaths and confirmed cases.
for day in response_deaths:
     day_cumulated_deaths.append(day['Cases'])
for day in response_confirmed:
    day_cumulated_confirmed.append(day['Cases'])
    country_data.append(country)
    date_data.append(day['Date'][0:10])

In [58]:
# Assemble dictionary with columns names and lists.
dict_cases = {'date': date_data, 'country': country_data, 'confirmed': day_cumulated_confirmed, 'deaths': day_cumulated_deaths}  

# Generate a DataFrame.
dfmexico = pd.DataFrame(dict_cases) 
dfmexico

           date country  confirmed  deaths
0    2020-01-22  mexico          0       0
1    2020-01-23  mexico          0       0
2    2020-01-24  mexico          0       0
3    2020-01-25  mexico          0       0
4    2020-01-26  mexico          0       0
..          ...     ...        ...     ...
384  2021-02-09  mexico    1946751  168432
385  2021-02-10  mexico    1957889  169760
386  2021-02-11  mexico    1968566  171234
387  2021-02-12  mexico    1978954  172557
388  2021-02-13  mexico    1988695  173771

[389 rows x 4 columns]

In [59]:
# export to excel
dfmexico.to_excel("mexico.xlsx")

In [60]:
# Do the same for 'united states of america'

In [61]:
froms = []
tos = []
confirmed = []
deaths = []
country = []
country = 'united states of america'
fromdate = '2020-01-01'
todate = '2021-03-01'
confirmed_url = f'https://api.covid19api.com/total/country/{country}/status/confirmed?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
deaths_url = f'https://api.covid19api.com/total/country/{country}/status/deaths?from={fromdate}T00:00:00Z&to={todate}T00:00:00Z'
response_deaths = requests.get(deaths_url).json() 
response_confirmed = requests.get(confirmed_url).json()
country

'united states of america'

In [62]:
day_cumulated_deaths=[]
day_cumulated_confirmed=[]
country_data=[]
date_data = []
for day in response_deaths:
     day_cumulated_deaths.append(day['Cases'])
for day in response_confirmed:
    day_cumulated_confirmed.append(day['Cases'])
    country_data.append(country)
    date_data.append(day['Date'][0:10])

In [63]:
dict_cases = {'date': date_data, 'country': country_data, 'confirmed': day_cumulated_confirmed, 'deaths': day_cumulated_deaths}  
    
dfusa = pd.DataFrame(dict_cases) 
dfusa

           date                   country  confirmed  deaths
0    2020-01-22  united states of america          1       0
1    2020-01-23  united states of america          1       0
2    2020-01-24  united states of america          2       0
3    2020-01-25  united states of america          2       0
4    2020-01-26  united states of america          5       0
..          ...                       ...        ...     ...
384  2021-02-09  united states of america   27192455  468227
385  2021-02-10  united states of america   27287159  471567
386  2021-02-11  united states of america   27392512  475444
387  2021-02-12  united states of america   27492023  480887
388  2021-02-13  united states of america   27575344  484248

[389 rows x 4 columns]

In [53]:
dfusa.to_excel("usa.xlsx")

In [ ]:
usa = dfusa.resample